.btn {
  font-family: var(--font-text);
  color: #fff;
  background-image: var(--gradient);
  border-radius: 5px;
  width: 100%;
  display: block;
  padding: 20px 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  border: 0;
  cursor: pointer;
}
