.header {
  padding: 20px 0;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  transition: 0.3s;

  &--static {
    position: absolute;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s;
    z-index: 9;
  }

  &--scroll {
    &::before {
      background-color: rgba(64, 58, 58, 0.3);
      backdrop-filter: blur(25px);
      border-radius: 5px;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
  }

  &__logo {
    width: 100%;
    max-width: 69px;
    display: flex;
    margin-right: 20px;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__btn {
    width: 198px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(190, 141, 52, 0.3);
    border-radius: 5px;
    padding: 15px 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #ffffff;
    cursor: pointer;
    margin-right: 55px;
    background-color: transparent;
    transition: 0.3s;

    &:hover {
      background-color: #be8d34;
    }
  }

  &__langs {
    display: flex;
    align-items: center;
    margin-right: 35px;
  }

  &__lang {
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    color: rgba(239, 239, 239, 0.7);
    margin-right: 7px;
    transition: 0.3s;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      color: rgba(#be8d34, 0.6);
    }

    &--active {
      color: #be8d34;
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: 17px 0;

    &__logo {
      max-width: 57px;
    }

    &__btn {
      width: 156px;
      padding: 10px 0;
      margin-right: 36px;
    }
  }
}

@media (max-width: 425px) {
  .header {
    &__logo {
      max-width: 50px;
      margin-right: 10px;
    }
    &__btn {
      width: 126px;
      font-size: 12px;
      margin-right: 15px;
    }
    &__langs {
      margin-right: 15px;
    }
  }
}
